@charset "utf-8";

/* CSS Document */
.right-side {
	background-color: #7f53ac !important;
	background-image: linear-gradient(315deg, #6959d1 0%, #7564e0 75%) !important;
	border-radius: 0px 35px 35px 0px !important;
	overflow: hidden !important;
}

.right-side button {
	color: white !important;
	font-size: 30px !important;
	font-weight: 200 !important;
	text-decoration: none !important;
}

.list-group li {
	background: none !important;
	cursor: pointer !important;
	transition: all ease 0.3s !important;
}

.list-group li:hover {
	background: white !important;
	cursor: pointer !important;
}

.list-group li a {
	color: white !important;
	text-decoration: none !important;
	font-size: 17px !important;
	font-weight: 350 !important;
}

.list-group li:hover a {
	color: #6f42c1 !important;
}

.left-side {
	border-radius: 35px 0px 0px 35px !important;
}

.dropdown-profile {
	border-radius: 15px !important;
	overflow: hidden !important;
	margin-top: 2em !important;
}

.dropdown-profile a {
	text-decoration: none !important;
	font-size: 13px !important;
}

.custom-alert {
	border-radius: 15px !important;
	font-size: 17px !important;
	background-color: rgba(255, 238, 185, 0.33) !important;
}

.custom-alert p {
	line-height: 3 !important;
	opacity: 0.8 !important;
	font-weight: 400 !important;
}

.charts h5 {
	color: #919191 !important;
}

.last-sale-btn li a {
	border-radius: 15px !important;
	transition: all ease 0.3s !important;
	border: none !important;
}

.last-sale-btn li a:hover {
	background-color: #6f42c1 !important;
	color: #fff !important;
	box-shadow: 0 0.5rem 1rem rgba(111, 66, 193, 0.3) !important;
}

.tarakonesh-head h5 {
	color: #919191 !important;
	font-size: 24px !important;
	font-weight: 300 !important;
}

.tarakonesh-body .row:nth-child(1) input {
	border: 1px solid #e9e9e9 !important;
}

.tarakonesh-body .row:nth-child(1) .input-group-text {
	border: 1px solid #e9e9e9 !important;
	font-weight: lighter !important;
}

.tarakonesh-body .row:nth-child(2) input {
	border: 1px solid #e9e9e9 !important;
}

.tarakonesh-body .row:nth-child(2) .input-group-text {
	border: 1px solid #e9e9e9 !important;
	font-weight: lighter !important;
}

.tarakonesh-body .row:nth-child(3) a {
	font-weight: 300 !important;
	font-size: 16px !important;
	transition: all ease 0.3s !important;
}

.tarakonesh-body .row:nth-child(3) a:hover {
	border: 1px solid #6f42c1 !important;
	background: #fff !important;
	color: #6f42c1 !important;
}

.tarakonesh-body .row:nth-child(3) .form-group:first-child a:focus {
	border: 1px solid red !important;
	background: #fff !important;
	color: red !important;
}

.tarakonesh-body .row:nth-child(3) .form-group:last-child a:focus {
	border: 1px solid green !important;
	background: #fff !important;
	color: green !important;
}

.search-btn a {
	background: #ffee00 !important;
	background-image: linear-gradient(315deg, #fbb034 0%, #ffdd00 75%) !important;
	border-radius: 15px 15px 0px 0px !important;
	width: 35% !important;
	font-size: 21px !important;
	font-weight: lighter !important;
	padding: 13px 0px !important;
	box-shadow: 0 0 20px rgba(255, 249, 87, 0.61) !important;
	transition: all ease 0.3s !important;
}

.search-btn a:hover {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3) !important;
	color: #fff !important;
}

.plugin-box {
	border-radius: 20px !important;
	font-size: 16px !important;
}

.plugin-box div {
	border-radius: 20px;
}