/*in the name of god
coded by alibhdrn
*/
@charset "utf-8";

/* CSS Document */
.right-side {
	background-color: #7f53ac !important;
	background-image: linear-gradient(315deg, #6959d1 0%, #7564e0 75%) !important;
	border-radius: 0px 35px 35px 0px !important;
	overflow: hidden !important;
}

.right-side button {
	color: white !important;
	font-size: 30px !important;
	font-weight: 200 !important;
	text-decoration: none !important;
}

.list-group li {
	background: none !important;
	cursor: pointer !important;
	transition: all ease 0.3s !important;
}

.list-group li:hover {
	background: white !important;
	cursor: pointer !important;
}

.list-group li a {
	color: white !important;
	text-decoration: none !important;
	font-size: 17px !important;
	font-weight: 350 !important;
}

.list-group li:hover a {
	color: #6f42c1 !important;
}

.left-side {
	border-radius: 35px 0px 0px 35px !important;
}

.dropdown-profile {
	border-radius: 15px !important;
	overflow: hidden !important;
	margin-top: 2em !important;
}

.dropdown-profile a {
	text-decoration: none !important;
	font-size: 13px !important;
}

.custom-alert {
	border-radius: 15px !important;
	font-size: 17px !important;
	background-color: rgba(255, 238, 185, 0.33) !important;
}

.custom-alert p {
	line-height: 3 !important;
	opacity: 0.8 !important;
	font-weight: 400 !important;
}

.charts h5 {
	color: #919191 !important;
}

.last-sale-btn li a {
	border-radius: 15px !important;
	transition: all ease 0.3s !important;
	border: none !important;
}

.last-sale-btn li a:hover {
	background-color: #6f42c1 !important;
	color: #fff !important;
	box-shadow: 0 0.5rem 1rem rgba(111, 66, 193, 0.3) !important;
}

.tarakonesh-head h5 {
	color: #919191 !important;
	font-size: 24px !important;
	font-weight: 300 !important;
}

.tarakonesh-body .row:nth-child(1) input {
	border: 1px solid #e9e9e9 !important;
}

.tarakonesh-body .row:nth-child(1) .input-group-text {
	border: 1px solid #e9e9e9 !important;
	font-weight: lighter !important;
}

.tarakonesh-body .row:nth-child(2) input {
	border: 1px solid #e9e9e9 !important;
}

.tarakonesh-body .row:nth-child(2) .input-group-text {
	border: 1px solid #e9e9e9 !important;
	font-weight: lighter !important;
}

.tarakonesh-body .row:nth-child(3) a {
	font-weight: 300 !important;
	font-size: 16px !important;
	transition: all ease 0.3s !important;
}

.tarakonesh-body .row:nth-child(3) a:hover {
	border: 1px solid #6f42c1 !important;
	background: #fff !important;
	color: #6f42c1 !important;
}

.tarakonesh-body .row:nth-child(3) .form-group:first-child a:focus {
	border: 1px solid red !important;
	background: #fff !important;
	color: red !important;
}

.tarakonesh-body .row:nth-child(3) .form-group:last-child a:focus {
	border: 1px solid green !important;
	background: #fff !important;
	color: green !important;
}

.search-btn a {
	background: #ffee00 !important;
	background-image: linear-gradient(315deg, #fbb034 0%, #ffdd00 75%) !important;
	border-radius: 15px 15px 0px 0px !important;
	width: 35% !important;
	font-size: 21px !important;
	font-weight: lighter !important;
	padding: 13px 0px !important;
	box-shadow: 0 0 20px rgba(255, 249, 87, 0.61) !important;
	transition: all ease 0.3s !important;
}

.search-btn a:hover {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3) !important;
	color: #fff !important;
}

.plugin-box {
	border-radius: 20px !important;
	font-size: 16px !important;
}

.plugin-box div {
	border-radius: 20px;
}

.helper input {
	font-weight: 300 !important;
	border-radius: 20px !important;
}

.helper label {
	font-weight: 300 !important;
	border-radius: 20px !important;
}

.helper textarea {
	border-radius: 20px !important;
	padding: 10px !important;
	border: 1px solid #cfcfcf !important;
	outline: none !important;
	resize: none !important;
}

.helper a {
	background-color: #6f42c1 !important;
	color: #fff !important;
	font-size: 16px !important;
	border-radius: 15px !important;
	transition: all ease 0.3s !important;
}

.helper a:hover {
	background-color: #fff !important;
	color: #6f42c1 !important;
	border: 1px solid #6f42c1 !important;
}

.custom-switch1 {
	direction: ltr !important;
	padding: 2.2rem !important;
}

.custom-switch .custom-control-label::before {
	width: 2.75rem !important;
	height: 1.25rem !important;
}

.custom-switch .custom-control-label::after {
	width: 16px !important;
	height: 16px !important;
}

.custom-control-input:checked~.custom-control-label::before {
	background-color: #20c997 !important;
	border: 1px solid #20c997;
	outline: none !important;
}

.custom-switch .custom-control-input:checked~.custom-control-label::after {
	transform: translateX(1.5rem) !important;
}

.card-bank2 select {
	border: none !important;
	font-weight: 300 !important;
	border-radius: 10px 0px 0px 10px !important;
}

.card-bank2 select option {
	font-weight: 300 !important;
}

.card-bank2 .input-group-text {
	border: none !important;
}

.left-card a {
	color: #9e9e9e !important;
}

.para1 {
	line-height: 3rem !important;
	font-weight: 450 !important;
	font-size: 16px !important;
}

.finger-gr input {
	position: relative !important;
	border-radius: 10px !important;
	background-color: #f7f7f7 !important;
	border: none !important;
}

.finger-gr input:focus {
	z-index: 0 !important;
	background-color: #f7f7f7 !important;
}

.finger-gr input:focus a {
	z-index: 99 !important;
}

.finger-gr input::placeholder {
	font-weight: 200 !important;
}

.finger-gr a {
	bottom: 0 !important;
	top: 0 !important;
	left: 0 !important;
	background-color: #6f42c1 !important;
	border-radius: 10px !important;
	color: #fff !important;
	transition: all ease 0.3s !important;
}

.finger-gr a:hover {
	color: #fff !important;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5) !important;
}

.earn p {
	font-size: 15px !important;
}

.earn a {
	border: none !important;
	background-color: #fbb034 !important;
	background-image: linear-gradient(315deg, #ffdd00 0%, #fbb034 75%) !important;
	border-radius: 15px;
	font-size: 15px;
	font-weight: 400;
}

.finger-gr2 .card:nth-child(1),
.finger-gr2 .card:nth-child(2) {
	background-color: rgba(255, 238, 185, 0.44) !important;
}

.finger-gr2 .card:nth-child(3),
.finger-gr2 .card:nth-child(4) {
	background-color: #ededed !important;
}

.finger-gr2 .card:nth-child(3) a,
.finger-gr2 .card:nth-child(4) a {
	color: #434343 !important;
}

.finger-gr3 {
	border-radius: 15px;
}

.finger-gr3 a {
	color: #000 !important;
	text-decoration: none !important;
	font-size: 14px !important;
	background: #fbb034;
	background-image: linear-gradient(315deg, #ffdd00 0%, #fbb034 75%);
	border-radius: 10px !important;
}

.finger-gr4 a {
	background: #fbb034 !important;
	background-image: linear-gradient(315deg, #ffdd00 0%, #fbb034 75%) !important;
}

.finger-gr4 a i {
	color: black !important;
	opacity: 0.6;
}

.custom-control-input2:checked~.custom-control-label2::before {
	background: #9f75c1 !important;
	border: 1px solid #9f75c1 !important;
}

.sign-up {
	border-radius: 15px 15px 0px 0px !important;
}

.sign-up input {
	border: 1px solid #e9e9e9 !important;
	font-weight: 400 !important;
	font-size: 14px !important;
	padding: 23px !important;
	border-radius: 15px !important;
}

.sign-up .input-group-text {
	border: 1px solid #e9e9e9 !important;
	font-size: 15px !important;
	border-radius: 15px !important;
	color: #9e9e9e !important;
}

.sign-up a {
	background: #ffee00 !important;
	background-image: linear-gradient(315deg, #fbb034 0%, #ffdd00 75%) !important;
	border-radius: 25px !important;
	width: 100% !important;
	font-size: 21px !important;
	font-weight: lighter !important;
	padding: 5px 0px !important;
	box-shadow: 0 0 20px rgba(255, 249, 87, 0.61) !important;
	transition: all ease 0.3s !important;
}

.sign-up a:hover {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3) !important;
	color: #fff !important;
}

.head {
	position: absolute !important;
	top: 0 !important;
	width: 100% !important;
	height: 40% !important;
	background: #6f42c1 !important;
	border-radius: 0em 0em 5em 5em !important;
}

.moving label {
	font-size: 14px !important;
}

.moving input {
	border: none !important;
	background-color: #f2f2f2 !important;
	font-weight: 300 !important;
	border-radius: 10px !important;
}

.moving input::placeholder {
	font-size: 13px !important;
	font-weight: 200 !important;
}

.moving .buttons a:nth-child(1) {
	background: #ffee00 !important;
	background-image: linear-gradient(315deg, #fbb034 0%, #ffdd00 75%) !important;
	border-radius: 15px;
	font-size: 21px;
	font-weight: lighter;
	padding: 5px 0px;
	transition: all 0.4s ease;
}

.moving .buttons a:nth-child(1):hover {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3) !important;
	color: #fff !important;
}

.moving .buttons a:nth-child(2) {
	color: #6f42c1;
}