@charset "utf-8";

/* CSS Document */
.right-side {
	background-color: #7f53ac !important;
	background-image: linear-gradient(315deg, #6959d1 0%, #7564e0 75%) !important;
	border-radius: 0px 35px 35px 0px !important;
	overflow: hidden !important;
}

.right-side button {
	color: white !important;
	font-size: 30px !important;
	font-weight: 200 !important;
	text-decoration: none !important;
}

.list-group li {
	background: none !important;
	cursor: pointer !important;
	transition: all ease 0.3s !important;
}

.list-group li:hover {
	background: white !important;
	cursor: pointer !important;
}

.list-group li a {
	color: white !important;
	text-decoration: none !important;
	font-size: 17px !important;
	font-weight: 350 !important;
}

.list-group li:hover a {
	color: #6f42c1 !important;
}